:root{
    --border-color:#00B8B8;
    --pinkish-color:#C71585;
    --bottom-border:#5f9ea0;
}


a{
    text-decoration:none;
    
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
   
    }


    body{
        font-family:'Poppins';
    }
#main-header{
    border-top:30px solid var(--border-color);
    padding:0.5rem 2rem;
   
}
.container{
    max-width:80%;
    margin:auto;
    overflow:hidden;
}
.flex-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.logo-container{
    text-align:center;
}
.logo-container h1{
    color:var(--pinkish-color);
    font-weight:600;
    font-size:40px;
}
.logo-container h3{
    color:var(--border-color);
font-size:25px;
}
#main-nav ul{
    display:flex;
    list-style:none;
}
#main-nav li{
    margin:20px;
    text-transform:uppercase;
}
#main-nav li a, h2 a{
    font-size:22px;
    color:var(--pinkish-color);
    font-weight:590;
   }
   .login a{
       font-weight:600;
   }
   #showcase{
     background-image:url('../img/showcase4.jpeg');
     height:300px;
     background-repeat:no-repeat;
     background-size:cover;
     background-position:center;
     border-top:10px solid var(--bottom-border);
     border-bottom:10px solid var(--bottom-border);
     position:relative;
   }
#showcase::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  background-color:rgba(0,0,0,0.5);
  z-index:1;
}
.showcase-box{
    padding:50px;
    color:#fff;
    position:relative;
    z-index:2;

}
.showcase-box h1{
    font-size:30px;
}
.btn{ 
    display:inline-block;
    background-color:var(--border-color);
    color:#fff;
    padding:0.5rem 1rem;
    margin-top:20px;
    border-radius:25px;
    transition:0.2s transform ease;
    
}
.btn:hover{
    background-color:var(--bottom-border);
transform:translateY(-2px);
}
#catalog{
    padding:3rem;
    text-align:center;
}
#catalog h1{
    font-size:30px;
}
#boxes{
    display:flex;
margin-bottom:20px;
    justify-content:space-around;
}
.box img{
    width:400px;
    height:400px;
    transition:all 0.5s;
}
.box img:hover{
    opacity:0.5;
    transform:scale(1.04);
    cursor:pointer;
}
  #boxes p{
     background-color:var(--border-color);
      color:var(--pinkish-color);
      width:60px;
      text-align:center;
     transition:all 0.5s;
      transform:translate(300px,-45px);
    
  }
.sign{
    display:flex;
    align-items:center;
    font-size:40px;
    font-weight:200;
    color:#ccc;
    transition:all 0.5s;
    margin:20px;
}
.sign .fas:hover{
    opacity:0.5;
    cursor:pointer;
}
#flex-row .row{
    display:flex;
flex-direction:row;
    width:100%;
    
}
#flex-row .row .column{
    display:flex;
    flex-direction:column;
    flex-basis:100%;
    flex:1;
}
#flex-row .column-1, .column-2{
    height:100%;

}
#flex-row .column-1 img{
object-fit:cover;
width:100%;
height:100%;
}

.column-2{
    background-color:var(--bottom-border);
    display:flex;
    flex-direction:column;
    padding:40px;
    text-align:center;
    justify-content:center;
    align-items:center;
    }


.column-2 h1{
    font-size:40px;
    color:var(--pinkish-color);
}
.column-2 p{
font-size:20px;
}
.btn-box{
    width:200px;
    }

    .btn-box:hover{
        background-color:coral;
    }

    footer{
        display:flex;
        flex-direction:column;
        text-align:center;
        background-color:var(--border-color);
        margin-top:70px;
        padding:1.5rem;
    
    }
    .fab{
        padding:10px;
        font-size:35px; 
        color:var(--pinkish-color);
        transition:all 0.5s ease-in-out;
        border-radius:50%;
        }
        footer p{
            font-size:20px;
            color:var(--pinkish-color);
            font-weight:600;
            
        }
footer .fab:hover{
        
        border-radius:50%;
        opacity:0.7;
    }

    .footer-logo{
        padding:10px;
    }